<html>
  <head>
    <style type="text/css">
      body {
        background: black;
        color: white;
      }
      div.container {
        max-width: 500px;
        margin: 100px auto;
        border: 20px solid white;
        padding: 10px;
        text-align: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h4>Animali al lavoro</h4>
      <img src="{{url}}" />
      <p><small>Fonte immagini: <a href="https://www.buzzfeed.com/aakritianand1/cute-animal-photos-that-will-make-you-laugh">Buzzfeed</a></small></p>
    </div>
  </body>
</html>
